/* fonts */
/* colors */
body {
  font-family: "Helvetica", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5vw;
  background-color: #525659;
  font-size: 0.9vw;
  font-weight: 400; }

main {
  width: 90vw;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px 1px #202020;
  box-shadow: 0 2px 5px 1px #202020;
  height: 50vw; }

h1 {
  font-size: 2.5vw;
  font-weight: bold;
  color: #7a7a7a;
  margin: 4vw 0 3vw 3vw; }

h2 {
  font-size: 0.95vw;
  width: 30vw;
  margin-left: 3vw;
  padding-left: 0.5vw; }

.bold {
  font-weight: bold;
  margin-right: 0; }

.inkomsten {
  background-color: #8fce70;
  color: #fff;
  font-weight: bold;
  height: 1.5vw;
  line-height: 1.5vw; }

#inkomsten {
  margin: 0 0 2vw 3vw;
  width: 30vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  #inkomsten .inkomstenTitel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #inkomsten .inkomstenTitel div {
      height: 1.5vw;
      line-height: 1.5vw;
      padding-left: 0.5vw;
      width: 20.4vw;
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  #inkomsten .inkomstenCijfer div {
    height: 1.5vw;
    line-height: 1.5vw;
    padding-left: 0.5vw;
    width: 10vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.1vw;
    text-align: right;
    padding-right: 0.5vw; }

.inkomstenCijfer div:nth-child(odd),
.inkomstenTitel div:nth-child(odd),
.totaal,
.uitgavenCijfer div:nth-child(odd),
.uitgavenTitel div:nth-child(odd),
.winstCijfer div:first-child,
.winstTitel div:first-child {
  background-color: #eaeaea; }

.uitgaven {
  background-color: #fc7255;
  color: #fff;
  font-weight: bold;
  height: 1.5vw;
  line-height: 1.5vw; }

#uitgaven {
  margin: 0 0 2vw 3vw;
  width: 30vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  #uitgaven .uitgavenTitel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #uitgaven .uitgavenTitel div {
      height: 1.5vw;
      line-height: 1.5vw;
      padding-left: 0.5vw;
      width: 20.4vw;
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  #uitgaven .uitgavenCijfer div {
    height: 1.5vw;
    line-height: 1.5vw;
    padding-left: 0.5vw;
    width: 10vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.1vw;
    text-align: right;
    padding-right: 0.5vw; }

.winst {
  background-color: #4dceff;
  color: #fff;
  font-weight: bold;
  height: 1.5vw;
  line-height: 1.5vw; }

#winst {
  margin: 0 0 2vw 3vw;
  width: 30vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  #winst .winstTitel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    #winst .winstTitel div {
      height: 1.5vw;
      line-height: 1.5vw;
      padding-left: 0.5vw;
      width: 20.4vw;
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  #winst .winstCijfer div {
    height: 1.5vw;
    line-height: 1.5vw;
    padding-left: 0.5vw;
    width: 10vw;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0.1vw;
    text-align: right;
    padding-right: 0.5vw; }

.totaal {
  color: #515151;
  border-top: 1px solid #515151; }

.taartdiagram {
  position: relative;
  height: 25vw;
  width: 25vw;
  margin-left: 50vw;
  margin-top: -30vw;
  -webkit-animation: opacity 2s;
  animation: opacity 2s; }

.gemeenschappelijk {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%; }

.basisschijf {
  background-color: #8fce70; }

.punt {
  clip: rect(0px, 12.5vw, 25vw, 0); }

.punt_1_container {
  -webkit-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  transform: rotate(63deg);
  -webkit-animation: winst 2s;
  animation: winst 2s; }

.punt_1 {
  background-color: #4dceff;
  -webkit-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  transform: rotate(117deg); }

.punt_2_container {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.punt_2 {
  background-color: #fc7255;
  -webkit-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  transform: rotate(63deg);
  -webkit-animation: uitgaven 2s;
  animation: uitgaven 2s; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

.label {
  width: 10vw;
  border-bottom: 1px solid black;
  padding-bottom: 0.25vw;
  position: absolute;
  z-index: 2; }

.label1 {
  margin-top: 8vw;
  right: 20vw;
  opacity: 0;
  -webkit-animation: opacity1 1s ease-in-out 2s forwards;
  animation: opacity1 1s ease-in-out 2s forwards; }

.label2 {
  margin-top: 2vw;
  left: 18vw;
  text-align: right;
  opacity: 0;
  -webkit-animation: opacity2 1s ease-in-out 2.5s forwards;
  animation: opacity2 1s ease-in-out 2.5s forwards; }

.label3 {
  margin-top: 16vw;
  left: 22vw;
  text-align: right;
  opacity: 0;
  -webkit-animation: opacity3 1s ease-in-out 3s forwards;
  animation: opacity3 1s ease-in-out 3s forwards; }

@-webkit-keyframes opacity1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes opacity2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes opacity3 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity3 {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
